---
import Layout from "@/layouts/Layout.astro"
import { getMusicList } from "@/libs/microcms"
import { toMusicSlug } from "@/libs/util"

const { contents: music } = await getMusicList()
---

<Layout title="Music">
  <section class="max-w-screen-xl mx-auto px-8 py-16">
    <h1 class="tracking-widest uppercase mb-8">Music</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {
        music.map((music) => (
          <a href={`/music/${toMusicSlug(music.title)}`} class="block group">
            <div class="relative">
              <img
                src={`${music.thumbnail.url}?w=400&fm=webp`}
                alt={music.thumbnail.alt ?? music.title}
                width={400}
                height={400}
                class="w-full object-cover"
              />
              <div class="absolute inset-0 bg-white opacity-0 group-hover:opacity-20 transition-opacity" />
            </div>
            <p class="mt-4 text-sm">{music.title}</p>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
