---
import Layout from "@/layouts/Layout.astro"
import { getMusicList } from "@/libs/microcms"
import { toMusicSlug } from "@/libs/util"

const { contents: music } = await getMusicList()
---

<Layout title="Music">
  <section class="mx-auto max-w-screen-xl px-8 py-16">
    <h1 class="mb-8 tracking-widest uppercase">Music</h1>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      {
        music.map((music) => (
          <a href={`/music/${toMusicSlug(music.title)}/`} class="group block">
            <div class="relative">
              <img
                src={`${music.thumbnail.url}?w=400&fm=webp`}
                alt={music.thumbnail.alt ?? music.title}
                width={400}
                height={400}
                class="w-full object-cover"
                transition:name={`music-thumbnail-${toMusicSlug(music.title)}`}
              />
              <div class="absolute inset-0 bg-white opacity-0 transition-opacity group-hover:opacity-20" />
            </div>
            <p class="mt-4 text-sm">{music.title}</p>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
